*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #f2f2f2;
}

.header__div, .header__div__ul{
    width: 100%;
    height: 60px;
    background: white;
}

.nav__li{
    display: inline-block;
    background: white;
    width: 300px;
    height: 40px;
    text-align: center;
    margin: 11px 13px 1px 21px;
}

.nav__li:hover{
    border: 1px solid #999999;
    display: inline-block;
    background: white;
    width: 300px;
    height: 40px;
    text-align: center;
    margin: 10px 12px 0px 20px;
}

.li__a{
    color: black;
    background: white;
    display: inline-table;
    margin-top: 8px;
    text-decoration: none;

}

.headerel__evate{
    margin: 0px auto;
    width: 70%;
    height: 300px;
    background: white;
    margin-top: 30px;
}

.elevate__global{
    background: white;
    text-align: center;
    font-weight: lighter;

}

#borda__fina{
    margin: 10px auto;
    border: 1px solid black;
    width: 90%;
}